body{
  background-color: black;
}
.calc{
  width:320px;
  height:320px;
  padding-top: 30px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 120px;
  background: white;
  border: 1px solid rgba(34,36,38,.15);
}
#inputtext{
  width:300px;
  height:40px;
  text-align: right;
  background: rgba(185, 223, 195, 0.4);
  border: 1px solid rgba(34,36,38,.15);
  font-size: 39px;
  margin-bottom: 30px;
}
.btn{
  width:70px;
  margin: 10px;
  float: left;
  border: 1px solid black;

}
.btn:hover{
  color: black;
  
}
.equal:hover{
  color: greenyellow;
}